
.footer {
  text-align: center; /* Centrar contenido */
}
.footer img {
  display: flexbox;
  justify-content: center;
  /* Ancho de la tarjeta */
   /* Margen para centrar la tarjeta */
    margin: 8px;
   float: left;
    width: 2em;
     height: 2em; /* Espaciado interno de la tarjeta */
  border-radius: 50px; /* Radio de borde para esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(2, 183, 238, 0.959); /* Sombra para resaltar la tarjeta */
  background-color: #fff;
}

