.img-avatar {
  display: flex;
  width: 250px; /* Ancho de la imagen */
  height: 270px;
  background-color: #6b6b6b; /* Color de fondo de la imagen */
}

.avatar{
  display: flex;
  background-color: black;
  margin: 0px;
  width: 21vw;
  height: 45vh;
  justify-content: center;
}

