.MyInfo{
    display: flex;
    width: 103vw;
    flex-direction: column;
    height: 150px;
    justify-content:start;
    align-items:end;
}


.text-nombre{
    display: flex;
    width: 100vw;
    height:10vh;
    margin: 0px;
    color: aliceblue;
    padding: 2px;
    align-content: center;
    text-align: end;
}


.text-rol{
    display: flex;
    width: 97vw;
    height:10vh;
    margin: 0px;
    color: aliceblue;
    
    padding: 2px;

}

.text-website{
    display: flex;
    width: 97vw;
    height:10vh;
    margin: 0px;
    color: aliceblue;
    padding: 2px;
    align-content:flex-start;
    text-align:start;
}
