.card {
  display: flexblox;
  width:  21vw; /* Reduje el ancho de la tarjeta */
  height: 140vh;
  margin: 50px  500px; /* Reduje el margen para centrar la tarjeta */
  padding: 0px; /* Espaciado interno de la tarjeta */
  border-radius: 8px; /* Reduje el radio de borde para esquinas redondeadas */
  box-shadow: 3PX 3px 6px rgba(0, 0, 0, 0.1); /* Sombra para resaltar la tarjeta */
  background-color: #3d3d3d; /* Color de fondo de la tarjeta */
}

 


